<div class="container">
  <div class="title-bar">
    <h1 class="title">Editing Pokedex</h1>
  </div>
  <div class ="padding">
    <%= link_to 'Back', @pokedex, class: "btn btn-default btn-remove" %>

    <%= render 'form', pokedex: @pokedex %>
  </div>
</div>
