<img class="img-center" alt="Rails" src="http://tibetanitech.com/wp-content/uploads/2016/09/Pokemon-GO.jpg"/>
<h2 class="text-center">Welcome to Pokemon Rainbow</h2>

<div class="container">
    <div id="top_five_pokemon_winner">

    </div>
  </div>
</div>

<script>

  $(function () {
    var myChart = Highcharts.chart('top_five_pokemon_winner', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Top 5 Pokemon Battle Winners'
        },
        xAxis: {
            categories: ['Pokemons']
        },
        yAxis: {
            title: {
                text: 'Win Count'
            }
        },
        series: <%= raw @top_5_pokemon_winner.to_json %>
    });
  });
</script>