<div class="container">
<div class="title-bar">
<h1 class="title">Editing Pokemon Battle</h1>
</div>
<div class ="padding">
<div class="new_block add-pokemon-skill">
<h1 class="text-center">Select Battle</h1>
<%= link_to 'Back', @pokemon_battle, class: "btn btn-default btn-remove" %>
<%= render 'form', pokemon_battle: @pokemon_battle %>
</div>
</div>
</div>

