<%= form_for(pokemon_skill) do |f| %>
  <div class="new_block add-pokemon-skill">
  <h2>Add New Skill</h2>
  </div>
  <div class="row control-group">
   <div class="form-group col-xs-12 floating-label-form-group controls">
     <%= f.label :Skill%>
     <%= f.select("skill_id", Skill.all.collect {|p| [ p.name, p.id ] }, { include_blank: false }, {:class => "form-control"})%>

   </div>
 </div>

  <div class="actions form col-md-11 col-sm-11">
    <%= f.button :submit => "Submit", class:"btn btn-default center-block" %>
  </div>
<% end %>