<div class="container">
  <div class="title-bar">
    <h1 class="title">Editing Pokemon</h1>
  </div>
  <div class ="padding">
    <h3><%= @pokemon.name %></h3>
    <%= render 'form_edit', pokemon: @pokemon %>
  </div>
</div>