.text-center{
    text-align: center;
}

.img-center{
    display: block;
    margin: 0 auto;
}

#footer{
    font-size: 14px;
   }
.navbar{
    background-color: lightblue;
}
a{
    color: black;
}
.error_text{
    color: red;
    list-style: none;
}
.new_block{
    clear:both;
    display: block;
}

#custom-btn{
    margin-top: 10px;
    display: inline;
    float: left;
    margin-right: 10px;
    margin-bottom : 10px;
}

.pokemon_icon{
    height: 50px;
    width: 50px;
}

.add-pokemon-skill{

    padding-top: 50px;
}

.btn-remove{
    margin-bottom: 20px;
}

.title-bar{
    background-color: lightblue;
}

.title{
    margin : 0;
    margin-bottom: 20px;
    padding: 5px;
    padding-left: 20px;

}

.padding{
    padding-right: 30px;
    padding-left: 30px;
}

.padding-battle-details{
    padding-left: 50px;
}


.pokemon-image{
    width: 80%;
    height: 80%;
}

#custom-container{
    border: none;
}

.breadcrumbs{
    margin-bottom: 20px;
}

.bar{
    margin: 45px;
}